.hljs .hll { background-color: #ffffcc }
.hljs .c { color: #606060; font-style: italic } /* Comment */
.hljs .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.hljs .k { color: #208090; font-weight: bold } /* Keyword */
.hljs .o { color: #303030 } /* Operator */
.hljs .cm { color: #606060; font-style: italic } /* Comment.Multiline */
.hljs .cp { color: #507090 } /* Comment.Preproc */
.hljs .c1 { color: #606060; font-style: italic } /* Comment.Single */
.hljs .cs { color: #c00000; font-weight: bold; font-style: italic } /* Comment.Special */
.hljs .gd { color: #A00000 } /* Generic.Deleted */
.hljs .ge { font-style: italic } /* Generic.Emph */
.hljs .gr { color: #FF0000 } /* Generic.Error */
.hljs .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.hljs .gi { color: #00A000 } /* Generic.Inserted */
.hljs .go { color: #808080 } /* Generic.Output */
.hljs .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.hljs .gs { font-weight: bold } /* Generic.Strong */
.hljs .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.hljs .gt { color: #0040D0 } /* Generic.Traceback */
.hljs .kc { color: #208090; font-weight: bold } /* Keyword.Constant */
.hljs .kd { color: #208090; font-weight: bold } /* Keyword.Declaration */
.hljs .kn { color: #208090; font-weight: bold } /* Keyword.Namespace */
.hljs .kp { color: #0080f0; font-weight: bold } /* Keyword.Pseudo */
.hljs .kr { color: #208090; font-weight: bold } /* Keyword.Reserved */
.hljs .kt { color: #6060f0; font-weight: bold } /* Keyword.Type */
.hljs .m { color: #6000E0; font-weight: bold } /* Literal.Number */
.hljs .s { background-color: #e0e0ff } /* Literal.String */
.hljs .na { color: #000070 } /* Name.Attribute */
.hljs .nb { color: #007020 } /* Name.Builtin */
.hljs .nc { color: #e090e0; font-weight: bold } /* Name.Class */
.hljs .no { color: #50e0d0; font-weight: bold } /* Name.Constant */
.hljs .nd { color: #505050; font-weight: bold } /* Name.Decorator */
.hljs .ni { color: #800000 } /* Name.Entity */
.hljs .ne { color: #F00000; font-weight: bold } /* Name.Exception */
.hljs .nf { color: #50e0d0; font-weight: bold } /* Name.Function */
.hljs .nl { color: #907000; font-weight: bold } /* Name.Label */
.hljs .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.hljs .nt { color: #007000 } /* Name.Tag */
.hljs .nv { color: #003060 } /* Name.Variable */
.hljs .ow { color: #000000; font-weight: bold } /* Operator.Word */
.hljs .w { color: #bbbbbb } /* Text.Whitespace */
.hljs .mf { color: #6000E0; font-weight: bold } /* Literal.Number.Float */
.hljs .mh { color: #005080; font-weight: bold } /* Literal.Number.Hex */
.hljs .mi { color: #6060f0; font-weight: bold } /* Literal.Number.Integer */
.hljs .mo { color: #4000E0; font-weight: bold } /* Literal.Number.Oct */
.hljs .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
.hljs .sc { color: #8080F0 } /* Literal.String.Char */
.hljs .sd { color: #D04020 } /* Literal.String.Doc */
.hljs .s2 { background-color: #e0e0ff } /* Literal.String.Double */
.hljs .se { color: #606060; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
.hljs .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
.hljs .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
.hljs .sx { color: #f08080; background-color: #e0e0ff } /* Literal.String.Other */
.hljs .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
.hljs .s1 { background-color: #e0e0ff } /* Literal.String.Single */
.hljs .ss { color: #f0c080 } /* Literal.String.Symbol */
.hljs .bp { color: #007020 } /* Name.Builtin.Pseudo */
.hljs .vc { color: #c0c0f0 } /* Name.Variable.Class */
.hljs .vg { color: #f08040 } /* Name.Variable.Global */
.hljs .vi { color: #a0a0f0 } /* Name.Variable.Instance */
.hljs .il { color: #6060f0; font-weight: bold } /* Literal.Number.Integer.Long */
