.hljs .hll { background-color: #404040 }
.hljs .c { color: #999999; font-style: italic } /* Comment */
.hljs .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.hljs .g { color: #d0d0d0 } /* Generic */
.hljs .k { color: #6ab825; font-weight: bold } /* Keyword */
.hljs .l { color: #d0d0d0 } /* Literal */
.hljs .n { color: #d0d0d0 } /* Name */
.hljs .o { color: #d0d0d0 } /* Operator */
.hljs .x { color: #d0d0d0 } /* Other */
.hljs .p { color: #d0d0d0 } /* Punctuation */
.hljs .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.hljs .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.hljs .c1 { color: #999999; font-style: italic } /* Comment.Single */
.hljs .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.hljs .gd { color: #d22323 } /* Generic.Deleted */
.hljs .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.hljs .gr { color: #d22323 } /* Generic.Error */
.hljs .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.hljs .gi { color: #589819 } /* Generic.Inserted */
.hljs .go { color: #cccccc } /* Generic.Output */
.hljs .gp { color: #aaaaaa } /* Generic.Prompt */
.hljs .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.hljs .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.hljs .gt { color: #d22323 } /* Generic.Traceback */
.hljs .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.hljs .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.hljs .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.hljs .kp { color: #6ab825 } /* Keyword.Pseudo */
.hljs .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.hljs .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.hljs .ld { color: #d0d0d0 } /* Literal.Date */
.hljs .m { color: #3677a9 } /* Literal.Number */
.hljs .s { color: #ed9d13 } /* Literal.String */
.hljs .na { color: #bbbbbb } /* Name.Attribute */
.hljs .nb { color: #24909d } /* Name.Builtin */
.hljs .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.hljs .no { color: #40ffff } /* Name.Constant */
.hljs .nd { color: #ffa500 } /* Name.Decorator */
.hljs .ni { color: #d0d0d0 } /* Name.Entity */
.hljs .ne { color: #bbbbbb } /* Name.Exception */
.hljs .nf { color: #447fcf } /* Name.Function */
.hljs .nl { color: #d0d0d0 } /* Name.Label */
.hljs .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.hljs .nx { color: #d0d0d0 } /* Name.Other */
.hljs .py { color: #d0d0d0 } /* Name.Property */
.hljs .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.hljs .nv { color: #40ffff } /* Name.Variable */
.hljs .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.hljs .w { color: #666666 } /* Text.Whitespace */
.hljs .mf { color: #3677a9 } /* Literal.Number.Float */
.hljs .mh { color: #3677a9 } /* Literal.Number.Hex */
.hljs .mi { color: #3677a9 } /* Literal.Number.Integer */
.hljs .mo { color: #3677a9 } /* Literal.Number.Oct */
.hljs .sb { color: #ed9d13 } /* Literal.String.Backtick */
.hljs .sc { color: #ed9d13 } /* Literal.String.Char */
.hljs .sd { color: #ed9d13 } /* Literal.String.Doc */
.hljs .s2 { color: #ed9d13 } /* Literal.String.Double */
.hljs .se { color: #ed9d13 } /* Literal.String.Escape */
.hljs .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.hljs .si { color: #ed9d13 } /* Literal.String.Interpol */
.hljs .sx { color: #ffa500 } /* Literal.String.Other */
.hljs .sr { color: #ed9d13 } /* Literal.String.Regex */
.hljs .s1 { color: #ed9d13 } /* Literal.String.Single */
.hljs .ss { color: #ed9d13 } /* Literal.String.Symbol */
.hljs .bp { color: #24909d } /* Name.Builtin.Pseudo */
.hljs .vc { color: #40ffff } /* Name.Variable.Class */
.hljs .vg { color: #40ffff } /* Name.Variable.Global */
.hljs .vi { color: #40ffff } /* Name.Variable.Instance */
.hljs .il { color: #3677a9 } /* Literal.Number.Integer.Long */
