.hljs .hll { background-color: #ffffcc }
.hljs .c { color: #8f5902; font-style: italic } /* Comment */
.hljs .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.hljs .g { color: #000000 } /* Generic */
.hljs .k { color: #204a87; font-weight: bold } /* Keyword */
.hljs .l { color: #000000 } /* Literal */
.hljs .n { color: #000000 } /* Name */
.hljs .o { color: #ce5c00; font-weight: bold } /* Operator */
.hljs .x { color: #000000 } /* Other */
.hljs .p { color: #000000; font-weight: bold } /* Punctuation */
.hljs .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.hljs .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.hljs .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.hljs .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.hljs .gd { color: #a40000 } /* Generic.Deleted */
.hljs .ge { color: #000000; font-style: italic } /* Generic.Emph */
.hljs .gr { color: #ef2929 } /* Generic.Error */
.hljs .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.hljs .gi { color: #00A000 } /* Generic.Inserted */
.hljs .go { color: #000000; font-style: italic } /* Generic.Output */
.hljs .gp { color: #8f5902 } /* Generic.Prompt */
.hljs .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.hljs .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.hljs .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.hljs .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.hljs .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.hljs .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.hljs .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.hljs .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.hljs .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.hljs .ld { color: #000000 } /* Literal.Date */
.hljs .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.hljs .s { color: #4e9a06 } /* Literal.String */
.hljs .na { color: #c4a000 } /* Name.Attribute */
.hljs .nb { color: #204a87 } /* Name.Builtin */
.hljs .nc { color: #000000 } /* Name.Class */
.hljs .no { color: #000000 } /* Name.Constant */
.hljs .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.hljs .ni { color: #ce5c00 } /* Name.Entity */
.hljs .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.hljs .nf { color: #000000 } /* Name.Function */
.hljs .nl { color: #f57900 } /* Name.Label */
.hljs .nn { color: #000000 } /* Name.Namespace */
.hljs .nx { color: #000000 } /* Name.Other */
.hljs .py { color: #000000 } /* Name.Property */
.hljs .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.hljs .nv { color: #000000 } /* Name.Variable */
.hljs .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.hljs .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.hljs .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.hljs .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.hljs .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.hljs .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.hljs .sb { color: #4e9a06 } /* Literal.String.Backtick */
.hljs .sc { color: #4e9a06 } /* Literal.String.Char */
.hljs .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.hljs .s2 { color: #4e9a06 } /* Literal.String.Double */
.hljs .se { color: #4e9a06 } /* Literal.String.Escape */
.hljs .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.hljs .si { color: #4e9a06 } /* Literal.String.Interpol */
.hljs .sx { color: #4e9a06 } /* Literal.String.Other */
.hljs .sr { color: #4e9a06 } /* Literal.String.Regex */
.hljs .s1 { color: #4e9a06 } /* Literal.String.Single */
.hljs .ss { color: #4e9a06 } /* Literal.String.Symbol */
.hljs .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.hljs .vc { color: #000000 } /* Name.Variable.Class */
.hljs .vg { color: #000000 } /* Name.Variable.Global */
.hljs .vi { color: #000000 } /* Name.Variable.Instance */
.hljs .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
