
.hljs code, .hljs pre{color:#fdce93;background-color:#3f3f3f}
.hljs .hll{background-color:#222}
.hljs .c{color:#7f9f7f}
.hljs .err{color:#e37170;background-color:#3d3535}
.hljs .g{color:#7f9f7f}
.hljs .k{color:#f0dfaf}
.hljs .l{color:#ccc}
.hljs .n{color:#dcdccc}
.hljs .o{color:#f0efd0}
.hljs .x{color:#ccc}
.hljs .p{color:#41706f}
.hljs .cm{color:#7f9f7f}
.hljs .cp{color:#7f9f7f}
.hljs .c1{color:#7f9f7f}
.hljs .cs{color:#cd0000;font-weight:bold}
.hljs .gd{color:#cd0000}
.hljs .ge{color:#ccc;font-style:italic}
.hljs .gr{color:red}
.hljs .gh{color:#dcdccc;font-weight:bold}
.hljs .gi{color:#00cd00}
.hljs .go{color:gray}
.hljs .gp{color:#dcdccc;font-weight:bold}
.hljs .gs{color:#ccc;font-weight:bold}
.hljs .gu{color:purple;font-weight:bold}
.hljs .gt{color:#0040D0}
.hljs .kc{color:#dca3a3}
.hljs .kd{color:#ffff86}
.hljs .kn{color:#dfaf8f;font-weight:bold}
.hljs .kp{color:#cdcf99}
.hljs .kr{color:#cdcd00}
.hljs .kt{color:#00cd00}
.hljs .ld{color:#cc9393}
.hljs .m{color:#8cd0d3}
.hljs .s{color:#cc9393}
.hljs .na{color:#9ac39f}
.hljs .nb{color:#efef8f}
.hljs .nc{color:#efef8f}
.hljs .no{color:#ccc}
.hljs .nd{color:#ccc}
.hljs .ni{color:#c28182}
.hljs .ne{color:#c3bf9f;font-weight:bold}
.hljs .nf{color:#efef8f}
.hljs .nl{color:#ccc}
.hljs .nn{color:#8fbede}
.hljs .nx{color:#ccc}
.hljs .py{color:#ccc}
.hljs .nt{color:#9ac39f}
.hljs .nv{color:#dcdccc}
.hljs .ow{color:#f0efd0}
.hljs .w{color:#ccc}
.hljs .mf{color:#8cd0d3}
.hljs .mh{color:#8cd0d3}
.hljs .mi{color:#8cd0d3}
.hljs .mo{color:#8cd0d3}
.hljs .sb{color:#cc9393}
.hljs .sc{color:#cc9393}
.hljs .sd{color:#cc9393}
.hljs .s2{color:#cc9393}
.hljs .se{color:#cc9393}
.hljs .sh{color:#cc9393}
.hljs .si{color:#cc9393}
.hljs .sx{color:#cc9393}
.hljs .sr{color:#cc9393}
.hljs .s1{color:#cc9393}
.hljs .ss{color:#cc9393}
.hljs .bp{color:#efef8f}
.hljs .vc{color:#efef8f}
.hljs .vg{color:#dcdccc}
.hljs .vi{color:#ffffc7}
.hljs .il{color:#8cd0d3}
