.hljs .hll { background-color: #ffffcc }
.hljs .c { color: #60a0b0; font-style: italic } /* Comment */
.hljs .err { border: 1px solid #FF0000 } /* Error */
.hljs .k { color: #007020; font-weight: bold } /* Keyword */
.hljs .o { color: #666666 } /* Operator */
.hljs .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.hljs .cp { color: #007020 } /* Comment.Preproc */
.hljs .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.hljs .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.hljs .gd { color: #A00000 } /* Generic.Deleted */
.hljs .ge { font-style: italic } /* Generic.Emph */
.hljs .gr { color: #FF0000 } /* Generic.Error */
.hljs .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.hljs .gi { color: #00A000 } /* Generic.Inserted */
.hljs .go { color: #808080 } /* Generic.Output */
.hljs .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.hljs .gs { font-weight: bold } /* Generic.Strong */
.hljs .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.hljs .gt { color: #0040D0 } /* Generic.Traceback */
.hljs .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.hljs .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.hljs .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.hljs .kp { color: #007020 } /* Keyword.Pseudo */
.hljs .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.hljs .kt { color: #902000 } /* Keyword.Type */
.hljs .m { color: #40a070 } /* Literal.Number */
.hljs .s { color: #4070a0 } /* Literal.String */
.hljs .na { color: #4070a0 } /* Name.Attribute */
.hljs .nb { color: #007020 } /* Name.Builtin */
.hljs .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.hljs .no { color: #60add5 } /* Name.Constant */
.hljs .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.hljs .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.hljs .ne { color: #007020 } /* Name.Exception */
.hljs .nf { color: #06287e } /* Name.Function */
.hljs .nl { color: #002070; font-weight: bold } /* Name.Label */
.hljs .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.hljs .nt { color: #062873; font-weight: bold } /* Name.Tag */
.hljs .nv { color: #bb60d5 } /* Name.Variable */
.hljs .ow { color: #007020; font-weight: bold } /* Operator.Word */
.hljs .w { color: #bbbbbb } /* Text.Whitespace */
.hljs .mf { color: #40a070 } /* Literal.Number.Float */
.hljs .mh { color: #40a070 } /* Literal.Number.Hex */
.hljs .mi { color: #40a070 } /* Literal.Number.Integer */
.hljs .mo { color: #40a070 } /* Literal.Number.Oct */
.hljs .sb { color: #4070a0 } /* Literal.String.Backtick */
.hljs .sc { color: #4070a0 } /* Literal.String.Char */
.hljs .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.hljs .s2 { color: #4070a0 } /* Literal.String.Double */
.hljs .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.hljs .sh { color: #4070a0 } /* Literal.String.Heredoc */
.hljs .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.hljs .sx { color: #c65d09 } /* Literal.String.Other */
.hljs .sr { color: #235388 } /* Literal.String.Regex */
.hljs .s1 { color: #4070a0 } /* Literal.String.Single */
.hljs .ss { color: #517918 } /* Literal.String.Symbol */
.hljs .bp { color: #007020 } /* Name.Builtin.Pseudo */
.hljs .vc { color: #bb60d5 } /* Name.Variable.Class */
.hljs .vg { color: #bb60d5 } /* Name.Variable.Global */
.hljs .vi { color: #bb60d5 } /* Name.Variable.Instance */
.hljs .il { color: #40a070 } /* Literal.Number.Integer.Long */
